@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: Library;
  src: url(../fonts/Library3am.otf);
}
@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-Medium.ttf);
}
html {
  font-size: 1rem;
}

body {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

.project1-container {
  background-image: url("../../media/images/bodybg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.project1-container p {
  font-size: 1.375rem;
}
.project1-container .card-img-top {
  width: 100%;
  height: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.project1-container .darken-bg {
  background-color: rgba(0, 0, 0, 0.462);
}
.project1-container h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}
.project1-container .hero-video {
  height: 800px;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 1024px) {
  .project1-container .hero-video {
    height: 600px;
  }
}
@media (max-width: 768px) {
  .project1-container .hero-video {
    height: 300px;
  }
}
.project1-container .modal-dialog {
  max-width: 80%;
}

.project2-container {
  background-image: url("../../media/images/bodybg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.project2-container p {
  font-size: 1.375rem;
}
.project2-container .card-img-top {
  width: 100%;
  height: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.project2-container .darken-bg {
  background-color: rgba(0, 0, 0, 0.462);
}
.project2-container h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}
.project2-container .hero-video {
  height: 800px;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 1024px) {
  .project2-container .hero-video {
    height: 600px;
  }
}
@media (max-width: 768px) {
  .project2-container .hero-video {
    height: 300px;
  }
}
.project2-container .modal-dialog {
  max-width: 80%;
}

.updates-site {
  height: 80vh;
  background-image: url("../../media/images/1.png");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.updates-site .right-panel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
}

.update-container {
  background-color: rgba(0, 0, 0, 0.384);
  padding: 10px;
}

.related-container {
  padding: 10px;
}
.related-container img {
  width: 100%;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.384);
}
@media (max-width: 1024px) {
  .navbar .navbar-toggler {
    margin: 0 auto;
  }
}

.nav-item {
  padding-left: 10px;
  font-family: "Library", sans-serif;
  font-size: 1.125rem;
}
@media (max-width: 1440px) {
  .nav-item {
    font-size: 1rem;
  }
}
.nav-item:hover {
  text-shadow: 0 0 11px #fff, 0 0 40px rgb(0, 162, 255), 0 0 80px rgb(0, 166, 255);
}

.navbar-brand {
  font-family: "Library", sans-serif;
  font-size: 2.75rem;
}
@media (max-width: 1440px) {
  .navbar-brand {
    font-size: 2.25rem;
  }
}
@media (max-width: 1024px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.nav-link-extra {
  font-size: 2.25rem;
}

.carousel-item {
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-size: cover;
}
@media (max-width: 1024px) {
  .carousel-item {
    height: 50vh;
  }
}
.carousel-item .carousel-caption {
  font-size: 1.625rem;
  background: rgba(0, 0, 0, 0.548);
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .carousel-item .carousel-caption {
    font-size: 1rem;
  }
}
.carousel-item .carousel-caption h5 {
  font-family: "Dosis", sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
}
@media (max-width: 1440px) {
  .carousel-item .carousel-caption h5 {
    font-size: 2.25rem;
  }
}

.carousel-container {
  height: 100vh;
}
@media (max-width: 1024px) {
  .carousel-container {
    height: 50vh;
  }
}

.carousel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: -200px;
}
@media (max-width: 1440px) {
  .carousel-control-prev {
    left: -130px;
  }
}
@media (max-width: 768px) {
  .carousel-control-prev {
    left: -65px;
  }
}
@media (max-width: 425px) {
  .carousel-control-prev {
    left: -35px;
  }
}

.carousel-control-prev i {
  font-size: 40px;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff;
}
@media (max-width: 768px) {
  .carousel-control-prev i {
    font-size: 30px;
  }
}

.carousel-control-next {
  right: -200px;
}
@media (max-width: 1440px) {
  .carousel-control-next {
    right: -130px;
  }
}
@media (max-width: 768px) {
  .carousel-control-next {
    right: -65px;
  }
}
@media (max-width: 425px) {
  .carousel-control-next {
    right: -35px;
  }
}

.carousel-control-next i {
  font-size: 40px;
  text-shadow: 0 0 4px #fff, 0 0 11px #fff;
}
@media (max-width: 768px) {
  .carousel-control-next i {
    font-size: 30px;
  }
}

.w-auto {
  width: auto;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000;
}

.neonText {
  -webkit-animation: flicker 3s infinite alternate;
          animation: flicker 3s infinite alternate;
  color: #fff;
}

/* Flickering animation */
@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 11px #fff, 0 0 19px #fff, 0 0 40px rgb(0, 162, 255), 0 0 80px rgb(0, 166, 255), 0 0 90px rgb(0, 140, 255), 0 0 100px rgb(0, 119, 255), 0 0 150px rgb(0, 94, 255);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 11px #fff, 0 0 19px #fff, 0 0 40px rgb(0, 162, 255), 0 0 80px rgb(0, 166, 255), 0 0 90px rgb(0, 140, 255), 0 0 100px rgb(0, 119, 255), 0 0 150px rgb(0, 94, 255);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
.neonBorder {
  color: #fff;
  transition: box-shadow 0.25s;
}
.neonBorder:hover {
  box-shadow: 0 0 4px rgb(0, 0, 0), 0 0 11px #fff, 0 0 40px rgb(0, 162, 255);
}

.video-bg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.element-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg-project-text {
  position: relative;
  z-index: 1;
}
.bg-project-text p {
  font-size: 1.375rem;
}
@media (max-width: 1440px) {
  .bg-project-text p {
    font-size: 1rem;
  }
}
.bg-project-text a {
  color: rgb(235, 203, 113);
  font-size: 1.625rem;
}
@media (max-width: 1440px) {
  .bg-project-text a {
    font-size: 1rem;
  }
}
.bg-project-text .card-title {
  font-size: 1.625rem;
  font-family: "Library", sans-serif;
}

.bg-project-text::after {
  content: "";
  background-image: url("https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.tint {
  background-color: rgba(0, 0, 0, 0.771);
  margin: 0 auto;
  width: 25%;
  border-radius: 15px;
}
@media (max-width: 1440px) {
  .tint {
    width: 45%;
  }
}

.projects h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}
@media (max-width: 1440px) {
  .projects h2 {
    font-size: 1.5rem;
  }
}
.projects .fa-google-play {
  font-size: 2.25rem;
  color: teal;
}
.projects .fa-square-steam {
  font-size: 1.625rem;
  color: rgb(22, 110, 225);
}

.updates h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}
.updates .card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}
@media (max-width: 1440px) {
  .about-us h2 {
    font-size: 1.5rem;
  }
}
.about-us h3 {
  font-size: 1.5rem;
}
.about-us .card-text {
  font-size: 1.125rem;
}
@media (max-width: 1440px) {
  .about-us .card-text {
    font-size: 1rem;
  }
}

.faq h2 {
  font-size: 2.25rem;
  font-family: "Library", sans-serif;
}/*# sourceMappingURL=main.css.map */